 <section id="about">
      <div class="container">

          <header class="section-header">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </header>
          
          <!-- cargo las variables que usaré en box-about y las exporto con impot en box-about.comp.ts -->
          <app-box-about    
            *ngFor="let post of posts"  
            [delay]="'0'" 
            [titulo]="post.title" 
            [texto]="post.body"
            [id]="post.id"
            [icono]="'ion-ios-analytics-outline'">
            
          </app-box-about>
      </div>
    </section><!-- #about -->
