<div class="container">
    <h4>{{post?.title}}</h4>
    <!-- el signo de pregunta indica: si no tiene título o cuerpo, no imprime nada. Sino, imprime el valor -->
    <p>{{post?.body}}</p>
    <hr>
    <h3>Comentarios del post</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Comentarios</th>

            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let comment of comments">
                <td>{{comment.name}}</td>
                <td>{{comment.email}}</td>
                <td>C{{comment.body}}</td>

            </tr>
        </tbody>
    </table>
</div>
