 <!--==========================
  Header
  ============================-->
  <app-header></app-header>
  <!--==========================
    Intro Section
  ============================-->
 
<app-intro></app-intro>

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
   <app-about></app-about>


    <!--==========================
      Services Section
    ============================-->
    <app-services></app-services>
    
    <!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
  <app-why-us></app-why-us>
    <!--==========================
      Portfolio Section
    ============================-->
  <app-portfolio></app-portfolio>
    <!-- #portfolio -->

   <app-testimonials></app-testimonials>
    <!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
  <app-team></app-team>
    <!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
 <app-clients></app-clients>
 <!--==========================
      Clients Section

      //Contact Section
    ============================-->
<app-contact></app-contact>
    <!-- #contact -->

  </main>

  <app-footer></app-footer>
  <!--==========================
    Footer
  ============================-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->


<router-outlet></router-outlet>
